{% extends 'base.html' %}
{% block title %} {{product.product_name}} {% endblock %}
{% block content %}

{% load cart %}
{% load custom_filter %}

<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
        <div class="row">
           <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap"
                width="233px" height="385px">
        </div>
        </div>

        <div class="col-md-8">
            <h4>{{product.name}}</h4>
            <h5 style="color:red;">Giá: {{product.price}} VNĐ</h5>
            <ul>
                {% for attr in product.aspects%}
                <li><b>{{attr.0}}</b>:     {{attr.1}}</li>
                {% endfor %}
            </ul>
            <div class="card-footer p-0 no-gutters">

            {% if product|is_in_cart:request.session.cart %}
            <div class="row no-gutters">
                <form action="/#{{product.id}}" class="col-2 " method="post">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{product.id}}'>
                    <input hidden type="text" name='remove' value='True'>
                    <input type="submit" value=" - " class="btn btn-block btn-success border-right">
                </form>
                <div class="text-center col btn btn-success">{{product|cart_quantity:request.session.cart}} in Cart</div>
                <form action="/#{{product.id}}" class="col-2 " method="post">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{product.id}}'>
                    <input type="submit" value=" + " class="btn btn-block btn-success border-left">
                </form>
            </div>
            {% else %}
            <form action="/#{{product.id}}" method="POST" class="btn-block">
                {% csrf_token %}
                <input hidden type="text" name='product' value='{{product.id}}'>
                <input type="submit" class="float-right btn btn-success form-control"
                    style="background-color:DodgerBlue;" value="Thêm vào giỏ hàng">
            </form>
            {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock %}