{% extends 'base.html' %}
{% block content %}

{% load cart %}
{% load custom_filter %}

<div class="container my-4" align="center">
    <h2>Thông tin tài khoản</h2>
    <form>
        <label for="name">Họ và tên: </label>
        <input type="text" id="name" name="name" value="{{customer.name}}"><br><br>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" value="{{customer.username}}"><br><br>
        <input type="submit" value="Submit" class="btn btn-sm btn-success col-lg-12">
    </form>
</div>

{% endblock %}